mat-form-field,
textarea{
  width: 100%;
}

.class-image {
  width: 100%;
}

.class-image img {
  width:100;
  box-shadow: 1px, 1px, 5px, rgba(0, 0, 0, 0.5);
}

mat-spinner {
  margin:auto;
}

mat-paginator {
  margin:1rem;
}

.h1 {
  color: green;
}

