<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
html, body, h1, h2, h3, h4, h5, p, a, button, mat-expansion-panel-header {font-family: "Raleway", sans-serif}

h1, h2, h3 {
  text-align: center;
}

.container img {
    width: 50%;
    height: auto;
}
img {
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 50%;
}
p, a, button {
  text-align: center;
}

.mat-expansion-panel-header-title {
    display: flex;
    justify-content: center;
    flex-direction:column;
    height: 60px;
}

.mat-action-row {
  justify-content: left;
  padding:0%;
}

</style>
<body>

   <mat-action-row *ngIf="!userIsAuthenticated" class="centertext">
    <div style="border-radius: 25px; height: 370px; width: 200px;  margin: auto;
    width: 50%; border: 1px solid; padding: 10px;">
      <p>GPA Tracker is designed to help track classes with their respective GPA</p>
      <p class="centertext">Please login to begin</p>
      <hr>
      <p>Motivation: UNC-Chapel Hill does not have a built in program that allows students to calculate projected GPA</p>
      <p>Step 1: Sign up</p>
      <p>Step 2: Login</p>
      <p>Step 3: Add Classes</p>
      <p>Step 4: Project GPA!</p>
    </div>
  </mat-action-row>

  <div style="border-radius: 25px; height: 200px;
  width: 200px; margin: auto; width: 50%;
  border: 1px solid; padding: 10px;"
  *ngIf="userIsAuthenticated && classes.length == 0">
    <h3>My Classes</h3>
    <hr>
    <p>You currently have no classes</p>
    <p>Please add classes to continue</p>
  </div>


<div class="w3-panel">
  <div class>
    <div class="w3-row-padding" style="margin:0 -16px">
      <div class="w3-third" style="border-radius: 25px; height: 370px; width: 200px;"></div>
      <div class="w3-twothird">
        <mat-spinner *ngIf="isLoading"></mat-spinner>
        <mat-accordion multi="true" *ngIf="classes.length > 0 && !isLoading && userIsAuthenticated">
          <div style="border-radius: 25px; margin: auto;
          border: 1px solid;
          padding: 20px;">
          <h3>My Classes</h3>
          <hr>
            <mat-expansion-panel *ngFor="let class of classes">
              <mat-expansion-panel-header class="mat-expansion-panel-header-title">
                <p>{{ class.className }}</p>
              </mat-expansion-panel-header>
              <div class="class-image container">
                <img [src]="class.imagePath" [alt]="class.className">
              </div>
              <p>Weight: {{ class.classWeight}}</p>
              <p>Grade: {{ class.classDes }}</p>
              <p>Notes: {{ class.notes }}</p>
              <mat-action-row *ngIf="userIsAuthenticated && userId === class.creator">
                <a mat-button color="accent" [routerLink]="['/edit', class._id]">EDIT</a>
                <button mat-button color="warn" (click)="onDelete(class._id)">DELETE</button>
              </mat-action-row>
            </mat-expansion-panel>
          </div>
        </mat-accordion>
      </div>
    </div>
  </div>
</div>

</body>

