<mat-spinner *ngIf="isLoading"></mat-spinner>
<mat-accordion multi="true" *ngIf="classes.length > 0 && !isLoading">
  <mat-expansion-panel *ngFor="let class of classes">
    <mat-expansion-panel-header>
      {{ class.className }}
    </mat-expansion-panel-header>
    <div class="class-image">
      <img [src]="class.imagePath" [alt]="class.className">
    </div>
    <p>{{ class.classWeight}}</p>
    <p>{{ class.classDes }}</p>
    <mat-action-row>
      <a mat-button color="accent" [routerLink]="['/edit', class._id]">EDIT</a>
      <button mat-button color="warn" (click)="onDelete(class._id)">DELETE</button>
    </mat-action-row>
  </mat-expansion-panel>
</mat-accordion>
<mat-paginator [length] = "totalClasses" [pageSize]="classesPerPage" [pageSizeOptions]="pageSizeOptions" (page)="onChangedPage($event)">

</mat-paginator>
<p class="info-text mat-body-1" *ngIf="classes.length <= 0 && !isLoading">No posts added yet</p>
