<style>
  body {
  background-image: url('https://scontent-atl3-1.xx.fbcdn.net/v/t39.30808-6/272615006_1070862517102352_7637773252403517567_n.jpg?_nc_cat=104&ccb=1-5&_nc_sid=730e14&_nc_ohc=qFo66QKHFzUAX_Mswuy&_nc_ht=scontent-atl3-1.xx&oh=00_AT9rFm1HCmXIom02Cug7m_IlNcJwak1-YOew5zJp7MnyWQ&oe=61F3549D');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  padding: 0px 0px 0px 0px;
}
</style>

<body>
<app-header></app-header>
<main>
  <router-outlet></router-outlet>
</main>
</body>

