<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
html,body,h1,h2,h3,h4,h5,p,a,button {font-family: "Raleway", sans-serif}

h1, h3{
  text-align: center;
}

textarea {
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

textarea:focus, input:focus{
    outline: none;
}

hr {
  color:black;
  background: grey;
  height: 0.25px;
}
</style>
<body style="width:50%; margin-left:auto; margin-right:auto;">
<h3 *ngIf="mode == 'create'" >Add Class</h3>
<h3 *ngIf="mode == 'edit'" >Edit Class</h3>
<mat-card style="border-radius: 25px; width:50%; margin-left:auto; margin-right:auto; border: 1px solid;">
  <mat-spinner *ngIf="isLoading"></mat-spinner>
  <form [formGroup]="form" (submit)="onSavePost()" *ngIf="!isLoading">
    <mat-form-field>
      <input matInput type="text" formControlName="className" placeholder="Class Name">
      <mat-error *ngIf="form.get('className').invalid"> Please enter a class name. </mat-error>
    </mat-form-field>
    <mat-form-field>
      <mat-select formControlName="classWeight" placeholder="Weight/Credit Hours">
        <mat-option [value]='1'>1</mat-option>
        <mat-option [value]='2'>2</mat-option>
        <mat-option [value]='3'>3</mat-option>
        <mat-option [value]='4'>4</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field>
      <mat-select formControlName="classDes" placeholder="Grade">
        <mat-option [value]='"A"'>A</mat-option>
        <mat-option [value]='"A-"'>A-</mat-option>
        <mat-option [value]='"B+"'>B+</mat-option>
        <mat-option [value]='"B"'>B</mat-option>
        <mat-option [value]='"B-"'>B-</mat-option>
        <mat-option [value]='"C+"'>C+</mat-option>
        <mat-option [value]='"C"'>C</mat-option>
        <mat-option [value]='"C-"'>C-</mat-option>
        <mat-option [value]='"D+"'>D+</mat-option>
        <mat-option [value]='"D"'>D</mat-option>
        <mat-option [value]='"F"'>F</mat-option>
      </mat-select>
    </mat-form-field>
    <div>
      <textarea formControlName="notes" rows="4" placeholder="Additional Notes"></textarea>
    </div>
    <div class="image-preview" *ngIf="imagePreview !== '' && imagePreview && form.get('image').valid">
      <img [src]="imagePreview" [alt]="form.value.className">
    </div>
    <button mat-stroked-button type="button" (click)="filePicker.click()">Pick Image</button>
    <input type="file" #filePicker (change)="onImagePicked($event)">
    <button mat-raised-button color="" type="submit">Save Class</button>


  </form>
</mat-card>
</body>
