<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
html, body, h1, h2, h3, h4, h5, p, a, button, input,  mat-expansion-panel-header {font-family: "Raleway", sans-serif}
</style>
<body style="width:50%; margin-left:auto; margin-right:auto;">
  <div class="card" style="border-radius: 25px;">
    <h1>Basic Information</h1>
    <p>{{this.fname + " " + this.lname}}</p>
    <p class="title">{{this.email}}</p>
    <hr>
    <p>Projected GPA: {{this.GPA}} </p>
    <hr>
    <p>Grade Definitions (UNC Chapel Hill)<p>
    <div style="display: flex; column-gap: 100px;">
      <div>
        <p>A: 4.0</p>
        <p>A-: 3.7</p>
        <p>B+: 3.3</p>
        <p>B: 3.0</p>
      </div>

      <div>
        <p>B-: 2.7</p>
        <p>C+: 2.3</p>
        <p>C: 2.0 </p>
        <p>C-: 1.7 </p>
      </div>

      <div>
        <p>D+: 1.3</p>
        <p>D: 1.0</p>
        <p>F: 0.0</p>
      </div>

    </div>
    <hr>
  </div>
</body>

